.faqC .title{
  text-align: center;
  margin-top: 120px;
  margin-bottom: 60px;
}
.faqC{
  width: 80%;
  margin: auto;
}

.faqC .secondPart h4{
  text-align: center;
  margin: 30px 0;
}

.faqC .small{
  font-size: 0.75rem
}
.faqC .secondPart li{
  list-style-type: number;
}