.navC{
  background-color: white;
}
.navC img{
  width: 127px;
  height: 28px
}
.navC .mybtn{
  width: 140px;
  padding: 10px 0;
}

.nav-sign{
  width: 100px;
}
.nav-sign a{
  color: black;
  margin-left: -5px
}
.navbar-light .navbar-nav .nav-link{
  color: black;
  font-weight: 500;
}

@media only screen  and (max-width: 991px){
  
  .navC .mybtn{
    width: 100px;
    padding: 7px 0;
  }

}