.howC{
  text-align: center;
  padding: 80px 0;
  
}
.howC .top{
  width: 70%;
  margin: auto;
}

.why-gemini{
  padding: 60px 0;
  border-bottom: 1px solid lightgray;
  margin-bottom: 60px
}
.howC .secondPart{
  text-align: left;
}
.howC .secondPart p{
  font-size: 1rem;
}
.secondContent{
  width: 85%; 
  margin: auto;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;
  text-align: left;
  
}
.secondContent div{
  padding: 0 10px;
}

@media only screen  and (max-width: 991px){
  .howC .top{
    width: 80%;
  }
  .secondContent{
    width: 80%;
  }
  .secondContent p{
    text-align: left;
  }
}